* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #3B5B33;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.navbar img {
    height: 40px;
    border-radius: 3px;
    margin: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: rgb(252, 252, 252) !important;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color:rgb(27, 13, 13) !important;
}



footer ul {
    list-style: none;
}

footer li a {
    color: #675757;
}

.navbar-brand {
    font-family: 'Inter', sans-serif;
    color:#ffffff;
    font-weight: 500;
}

/* Estilo para o footer */
footer {
    background: #3B5B33 !important;
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

/* Estilo para a seção de redes sociais no footer */
.social-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 70px;
}
